<div class="navbar-wrapper">
	
			<div class ="container">
				
				<div class="navbar navbar-inverse navbar-static-top" role="navigation">
				
						<div class="container">
							
							<div class="navbar-header"
							
							<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="sr-only"> toggle navigation</span>
								<span class="icon-bar"> </span>
								<span class="icon-bar"> </span>
								<span class="icon-bar"> </span>
							</button>
							
							<a class="navbar-brand" href="/vista1/index">Observatorio BD</a>
							
							</div>
							
								
								<ul class="nav navbar-nav">
								
									<li><a href="/vista1/index"> Inicio</a></li>
									<li><a href="/vista2/index"> Consolas</a></li>
									<li class="active"><a href="/vista3/index"> Versus</a></li>
									<li><a href="/vista4/index"> Juegos</a></li>
									
									
									
								</ul>
							</div>
						</div>
					
				</div>
				
			</div><!-- final container-->
	
	</div><!-- final navbar-->
	<div class="container">
	<img src="/images/vs4.jpg" style = "position:relative; top:0; rigth: 100; left:20; min-width:100%; height:300px;">
<div class="container">
<table style="position:relative; top:0;  left:0;" class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>Categoria</th>
            <th>Play Station 4</th>
            <th>Xbox One</th>
            <th>Wii U</th>
        </tr>
    </thead>
    <tbody>
        	<td>Cuentas de Mujeres</td>
            <td><%=@mujeresplay%></td>
            <td><%=@mujeresxbox%></td>
            <td><%=@mujereswii%></td>
        </tr>
        <tr>
            <td>Cuentas de Hombres</td>
            <td><%=@hombresplay%></td>
            <td><%=@hombresxbox%></td>
            <td><%=@hombreswii%></td>
        </tr>
        <tr>
            <td>Cuentas de Chile</td>
            <td><%=@chileplay%></td>
            <td><%=@chilexbox%></td>
            <td><%=@chilewii%></td>
        </tr>
        <tr>
            <td>Cuentas resto del mundo</td>
            <td><%=@restoplay%></td>
            <td><%=@restoxbox%></td>
            <td><%=@restowii%></td>
        </tr>

    </tbody>
</table>
</div>
</div>